<%- include("partials/head.ejs") %>

<body>
<%- include("partials/navbar.ejs") %>



<div class="container">
    <h1><%= `Your random number is : ${random}` %> </h1>
     <h2><p><% if (random % 2 === 0) { %>
        <%= "It's an even number" %>
    <% }  else { %>
    <%= "It's an odd number" %>
    <% } %>
    </p></h2>

        <form action="">
            <button>refresh</button>
        </form>
</div>
</body>
</html>